* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

#header-img {
  width: 120px;
 
  
}

header {
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
}

#nav-bar {
  display: flex;
  gap: 20px;
}

.nav-link {
  color: #333;
  text-decoration: none;
  padding: 10px;
}

.hero {
  margin-top: 140px;
  margin-bottom: 0;
  padding: 20px 20px 0px;
  text-align: center;
}


.brand-logos{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
}

.logo-honda {
  height: 80px;
  width: auto;
}

.logo-yamaha {
  height: 140px;
  width: auto;
}

.logo-kawasaki {
  height: 110px;
  width: auto;
}

.logo-suzuki {
  height: 70px;
  width: auto;
}
